/* reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: url("../img/bg2.jpg");
  background-size: cover; /* Позволяет изображению заполнять фон полностью */
  background-position: center; /* Центрирует изображение по горизонтали и вертикали */
  background-repeat: no-repeat;
}

.card {
  position: absolute;
  width: 729px;
  height: 485px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  padding-top: 56px;
  padding-left: 79px;
  overflow: hidden;
}
.card__speaker__name {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 32px;
}

.card__number {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-bottom: 32px;
}

.card__button {
  background-color: #ff7a00;
  padding: 8px 48px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #fff;
  margin-bottom: 32px;
}

.card__speaker__description {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 324px;
}
